#game-parent {
  position: relative;

  width: 800px;
  height: 800px;
}

.placeholder {
  position: absolute;

  background-color: lightgray;
}

.tile {
  text-align: center;
  position: absolute;

  background-color: lightblue;
  font-size: 90px;
}
